<p id="notice"><%= notice %></p>

<h1>Listing Flows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Definition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flows.each do |flow| %>
      <tr>
        <td><%= flow.name %></td>
        <td><%= flow.definition %></td>
        <td><%= link_to 'Show', flow %></td>
        <td><%= link_to 'Edit', edit_flow_path(flow) %></td>
        <td><%= link_to 'Destroy', flow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flow', new_flow_path %>
