<div class="flo-leaf-header">FormTask</div>

<%= simple_form_for(form_task) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :free_text, as: :text, input_html: {rows: 5} %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
  <%= f.submit 'Close', class: 'btn btn-warning' %>
</div>
<% end %>