<div class="rat-bubble">
  <div class="rat-part-header">
    <%= floTask.current_state %>
    <b><%= floTask.name %> (<%= floTask.params[0] %>)</b>
    for <%= floTask.scope.to_s %>
  </div>
  <div class="rat-part">
    <pre>
      <%= floTask.payload.except('scoped', 'procedure_id') %>
    </pre>
  </div>
</div>
